@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "satoshiBlack";
  src: url("../src/fonts/Satoshi-Black.otf");
}

@font-face {
  font-family: "satoshiRegular";
  src: url("../src/fonts/Satoshi-Regular.otf");
}
@font-face {
  font-family: "SatoshiMedium";
  src: url("../src/fonts/Satoshi-Medium.otf");
}
@font-face {
  font-family: "SatoshiBold";
  src: url("../src/fonts/Satoshi-Bold.otf");
}

@font-face {
  font-family: "ClashSemiBold";
  src: url("../src/fonts/ClashDisplay-Semibold.otf");
}

.cliphpath {
  clip-path: polygon(50% 47%, 0% 100%, 100% 100%);
}

.active {
  width: 168px;
  height: 168px;
  top: 263px !important;
  left: 50% !important;
  transform: translateX(-50%);
  border-width: 8px;
}

@media (max-width: 768px) {
  .active {
    width: 100px;
    height: 100px;
  }
}

.my {
  background-image: url('images/platform-bg.png');
  background-position: top left;
  background-color: rgba(12, 226, 12, 0.474);
}